config/configstore/
config/nvim/.netrwhist
config/elinks/cookies
config/elinks/*hist
config/elinks/bookmarks.xbel
config/micro/buffers
config/zsh/.zcompdump*
special/vscode/User/vsicons\.settings\.json
private
