[submodule "config/zsh/.zprezto"]
	path = config/zsh/.zprezto
	url = https://github.com/sorin-ionescu/prezto
	branch = master
[submodule "config/tmux/plugins/tpm"]
	path = config/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
