[submodule "config/tmux/plugins/tpm"]
	path = config/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "config/ranger/plugins/devicons"]
	path = config/ranger/plugins/devicons
	url = https://github.com/alexanderjeurissen/ranger_devicons
[submodule "config/fzf/fzf"]
	path = config/fzf/fzf
	url = https://github.com/junegunn/fzf
[submodule "config/posh/modules/posh-git"]
	path = config/posh/modules/posh-git
	url = git@github.com:scottbilas/posh-git.git
[submodule "config/posh/modules/PSColor"]
	path = config/posh/modules/PSColor
	url = git@github.com:scottbilas/PSColor.git
[submodule "config/posh/modules/oh-my-posh"]
	path = config/posh/modules/oh-my-posh
	url = git@github.com:scottbilas/oh-my-posh.git
[submodule "config/conemu/ConEmu-Color-Themes"]
	path = config/conemu/ConEmu-Color-Themes
	url = https://github.com/joonro/ConEmu-Color-Themes.git
[submodule "config/posh/modules/git-status-cache-posh-client"]
	path = config/posh/modules/git-status-cache-posh-client
	url = https://github.com/cmarcusreid/git-status-cache-posh-client.git
[submodule "config/posh/modules/ZLocation"]
	path = config/posh/modules/ZLocation
	url = git@github.com:scottbilas/ZLocation.git
[submodule "config/posh/modules/PsEllipsisModule"]
	path = config/posh/modules/PsEllipsisModule
	url = https://github.com/KillyMXI/PsEllipsisModule.git
[submodule "config/zsh/zplugin"]
	path = config/zsh/zplugin
	url = https://github.com/zdharma/zplugin.git
[submodule "config/zsh/.zprezto"]
	path = config/zsh/.zprezto
	url = https://github.com/sorin-ionescu/prezto
[submodule "config/bat/bat-extras"]
	path = config/bat/bat-extras
	url = https://github.com/eth-p/bat-extras
[submodule "scripts/icdiff"]
	path = scripts/icdiff
	url = git@github.com:scottbilas/icdiff.git
[submodule "docs/nerd-font-cheatsheets"]
	path = docs/nerd-font-cheatsheets
	url = https://github.com/just3ws/nerd-font-cheatsheets.git
[submodule "config/git/gitree"]
	path = config/git/gitree
	url = git@github.com:scottbilas/gitree.git
