config/fish/conf.d
config/fish/fishd.*
config/nvim/.netrwhist
config/elinks/cookies
config/elinks/*hist
config/micro/buffers/history
private
special/vscode/User/workspaceStorage
special/vscode/User/vsicons\.settings\.json
