# include all dotfiles and .config (note: dotfiles should become unnecessary once i bother to get XDG compliant)

/*
!/.config
!/.*

# synced roots

!/docs
!/scripts

# tuning

/.bash_history
/.cache
/.config/fish/fishd.*
/.config_private
/.dotfiles/
/.elinks/bookmarks*
/.elinks/cookies
/.elinks/*hist
/.lesshst
/.local
/.python*hist*
/.w3m

# general

*.tmp_*
